.bloco{
    margin-bottom: 10px;
    padding-left: 10px;
    height: 80px;
    width: 300px;
}

.bloco p{
    margin-top: 0px;
}

.bloco h1{
    margin-top: 15px;
    margin-bottom: 0px;
}

#bloco-1{
    background-color: #E18F39;
    border: 5px solid #EDA751;
}

#bloco-2{
    background-color: #3C7F4E;
    border: 5px solid #51A676;  
}

#bloco-3{
    background-color: #1E4633;   
    border: 5px dashed #64CD7B ;
}

#bloco-4{
    background-color: #DC3F2B;  
    border: 5px dashed #E98274 ;  
}

main{
    font-family: 'Helvetica', 'sans-serif';
    color: white;
}